* {
}

html, body {
    height: 100%;
    background-color: #eeeeee;
}

.page { padding: 2em 1em; }

.main {
    height: 100%;
}

.side {
    height: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.page {
    height: 100%;
}

.timeline-Footer {
    display: none;
}

#myCarousel {
    height: 100%;
    vertical-align: middle;
    min-height: 10em;

}

.item h1 {
    text-align: center;
    font-size: 600%;
}

.item {
    display: table-cell;
    vertical-align: middle
}

.item p {
    font-size: 20pt;
}

.intro {
    text-align: center;
}